#container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 500px;
    width: 500px;
    margin-left: 100px;
    border-color: black;
    border-style: solid;

}

.content {
    text-align: center;
    color: white;
    
}

.black {
    color: black;
    background-color: black;
}

/*
.content:hover {
    background-color: grey;
    color: grey;
}
*/

