body {
    background-color: indianred;
}

header {
    text-align: center;
    font-size: 50px;
    margin: 20px;
}

#container {
    background-color: cornsilk;
    display: grid;
    grid-template-columns: repeat(100, auto);
    height: 500px;
    width: 500px;
    border-color: black;
    border-style: solid;
}   

.content {
    text-align: center;
}

.black {
    color: black;
    background-color: black;
}


main {
    display: flex;
    justify-content: space-around;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}

button {
    background-color: rgb(218, 211, 187);
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    height: 100px;
    width: 300px;
    font-size: 30px;
    
}

button:hover {
    background-color: rgb(156, 152, 134);
    
}

button:active {
    transform:scale(.99) ;
}







